In [174]:
departments = [
    "Computer Science", "Mechanical Engineering", "Electrical Engineering", "Civil Engineering",
    "Mathematics", "Physics", "Chemistry", "Biology", "Business Administration",
    "Economics", "Psychology", "Sociology", "Political Science", "History",
    "Philosophy", "English Literature", "Linguistics", "Environmental Science",
    "Medicine", "Law", "Architecture", "Art  Design", "Music", "Theater Arts",
    "Education", "Nursing", "Astronomy", "Anthropology", "Statistics", "Robotics"
]

department_IDs = [
    101, 102, 103, 104, 105, 106, 107, 108, 109, 110,
    111, 112, 113, 114, 115, 116, 117, 118, 119, 120,
    121, 122, 123, 124, 125, 126, 127, 128, 129, 130
]

department_Locations = [
    (37.7749, -122.4194), (40.7128, -74.0060), (34.0522, -118.2437), (51.5074, -0.1278),
    (48.8566, 2.3522), (35.6895, 139.6917), (55.7558, 37.6173), (39.9042, 116.4074),
    (41.8781, -87.6298), (45.4642, 9.1900), (52.5200, 13.4050), (50.8503, 4.3517),
    (40.4168, -3.7038), (19.4326, -99.1332), (28.6139, 77.2090), (1.3521, 103.8198),
    (-33.8688, 151.2093), (-23.5505, -46.6333), (13.7563, 100.5018), (-34.6037, -58.3816),
    (31.2304, 121.4737), (37.5665, 126.9780), (25.276987, 55.296249), (59.3293, 18.0686),
    (55.9533, -3.1883), (60.1695, 24.9354), (52.2298, 21.0122), (41.9028, 12.4964),
    (35.6895, 139.6917), (32.7767, -96.7970)
]

first_names = [
    "Aaron", "Abigail", "Adam", "Aiden", "Alexander", "Alice", "Amelia", "Andrew", "Angelina", "Anthony",
    "Aria", "Asher", "Aubrey", "Aurora", "Austin", "Ava", "Benjamin", "Blake", "Brandon", "Brianna",
    "Caleb", "Cameron", "Caroline", "Carter", "Charles", "Charlotte", "Chloe", "Christopher", "Claire", "Connor",
    "Daniel", "David", "Delilah", "Dominic", "Dylan", "Eleanor", "Eli", "Elijah", "Elizabeth", "Ella",
    "Emily", "Emma", "Ethan", "Evan", "Ezekiel", "Ezra", "Felix", "Gabriel", "Genesis", "George",
    "Grace", "Grayson", "Hannah", "Harper", "Hazel", "Henry", "Hudson", "Hunter", "Ian", "Isaac",
    "Isabella", "Isla", "Jack", "Jackson", "Jacob", "James", "Jasmine", "Jason", "Jayden", "Jeremiah",
    "John", "Jonathan", "Jordan", "Joseph", "Joshua", "Julian", "Katherine", "Kayla", "Kennedy", "Kevin",
    "Landon", "Layla", "Leo", "Levi", "Liam", "Lillian", "Lily", "Lincoln", "Lucas", "Luke",
    "Madeline", "Madison", "Mason", "Matthew", "Maya", "Michael", "Mila", "Nathan", "Noah", "Nora"
]

surnames = [
    "Adams", "Allen", "Anderson", "Armstrong", "Bailey", "Baker", "Barnes", "Bell", "Bennett", "Brooks",
    "Brown", "Bryant", "Butler", "Campbell", "Carter", "Clark", "Collins", "Cook", "Cooper", "Cox",
    "Davis", "Diaz", "Edwards", "Evans", "Fisher", "Flores", "Foster", "Garcia", "Gonzalez", "Graham",
    "Green", "Hall", "Harris", "Harrison", "Hayes", "Henderson", "Hernandez", "Hill", "Howard", "Hughes",
    "Jackson", "James", "Jenkins", "Johnson", "Jones", "Kelly", "King", "Lee", "Lewis", "Long",
    "Lopez", "Martin", "Martinez", "Miller", "Mitchell", "Moore", "Morales", "Morgan", "Morris", "Murphy",
    "Nelson", "Nguyen", "Parker", "Patterson", "Perez", "Phillips", "Powell", "Price", "Ramirez", "Reed",
    "Richardson", "Rivera", "Roberts", "Robinson", "Rodriguez", "Rogers", "Ross", "Russell", "Sanchez", "Sanders",
    "Scott", "Simmons", "Smith", "Stewart", "Sullivan", "Taylor", "Thomas", "Thompson", "Torres", "Turner",
    "Walker", "Ward", "Washington", "Watson", "White", "Williams", "Wilson", "Wood", "Wright", "Young"
]

specializations = [
    "Artificial Intelligence", "Machine Learning", "Data Science", "Cybersecurity", "Cloud Computing",
    "Software Engineering", "Computer Networks", "HumanComputer Interaction", "Blockchain Technology", "Game Development",
    "Embedded Systems", "Internet of Things (IoT)", "Bioinformatics", "Quantum Computing", "Robotics",
    "Automotive Engineering", "Aeronautical Engineering", "Renewable Energy Engineering", "Nanotechnology", "Materials Science",
    "Structural Engineering", "Geotechnical Engineering", "Environmental Engineering", "Hydraulic Engineering", "Transportation Engineering",
    "Wireless Communication", "Microelectronics", "Power Systems Engineering", "Signal Processing", "Control Systems",
    "Theoretical Physics", "Nuclear Physics", "Astrophysics", "Biophysics", "Condensed Matter Physics",
    "Organic Chemistry", "Inorganic Chemistry", "Analytical Chemistry", "Physical Chemistry", "Pharmaceutical Chemistry",
    "Molecular Biology", "Genetics", "Biotechnology", "Neuroscience", "Microbiology",
    "Marine Biology", "Ecology", "Zoology", "Botany", "Bioengineering",
    "Finance", "Accounting", "Marketing", "International Business", "Entrepreneurship",
    "Human Resource Management", "Supply Chain Management", "Econometrics", "Behavioral Economics", "Game Theory",
    "Clinical Psychology", "Cognitive Psychology", "Educational Psychology", "Industrial Psychology", "Forensic Psychology",
    "Sociology of Technology", "Criminology", "Urban Sociology", "Cultural Anthropology", "Archaeology",
    "Political Philosophy", "Public Policy", "International Relations", "Comparative Politics", "Diplomacy",
    "Medieval History", "Modern History", "World History", "Military History", "History of Science",
    "Ethics", "Epistemology", "Metaphysics", "Logic", "Aesthetics",
    "Linguistics", "Syntax and Semantics", "Applied Linguistics", "Translation Studies", "Computational Linguistics",
    "Environmental Science", "Climatology", "Geospatial Science", "Sustainable Development", "Conservation Biology",
    "Theater and Performing Arts", "Music Composition", "Fine Arts", "Photography", "Creative Writing",
    "Education Policy", "Special Education", "Curriculum Development", "Instructional Design", "Educational Technology"
]

study_fields = [
    "Computer Science", "Computer Science", "Computer Science", "Computer Science", "Computer Science",
    "Computer Science", "Computer Science", "Computer Science", "Computer Science", "Computer Science",
    "Computer Science", "Computer Science", "Biotechnology", "Computer Science", "Robotics",
    "Mechanical Engineering", "Aeronautical Engineering", "Energy Engineering", "Nanotechnology", "Materials Science",
    "Civil Engineering", "Civil Engineering", "Environmental Engineering", "Civil Engineering", "Civil Engineering",
    "Electrical Engineering", "Electrical Engineering", "Electrical Engineering", "Electrical Engineering", "Electrical Engineering",
    "Physics", "Physics", "Physics", "Physics", "Physics",
    "Chemistry", "Chemistry", "Chemistry", "Chemistry", "Chemistry",
    "Biology", "Biology", "Biology", "Biology", "Biology",
    "Biology", "Biology", "Biology", "Biology", "Biomedical Engineering",
    "Business", "Business", "Business", "Business", "Business",
    "Business", "Business", "Economics", "Economics", "Economics",
    "Psychology", "Psychology", "Psychology", "Psychology", "Psychology",
    "Sociology", "Sociology", "Sociology", "Anthropology", "Anthropology",
    "Philosophy", "Political Science", "Political Science", "Political Science", "Political Science",
    "History", "History", "History", "History", "History",
    "Philosophy", "Philosophy", "Philosophy", "Philosophy", "Philosophy",
    "Linguistics", "Linguistics", "Linguistics", "Linguistics", "Linguistics",
    "Environmental Science", "Environmental Science", "Geography", "Environmental Science", "Environmental Science",
    "Fine Arts", "Music", "Fine Arts", "Fine Arts", "Fine Arts",
    "Education", "Education", "Education", "Education", "Education"
]

specializations_ID = range(1, len(specializations) + 1)

In [175]:
specializations_ID, len(specializations_ID)

(range(1, 106), 105)

In [176]:
from faker import Faker

def generate_random_date():
    fake = Faker()
    # year, month, day
    return fake.date_between(start_date='-30y', end_date='today')

generate_random_date()

datetime.date(2012, 10, 29)

In [177]:
num_of_student_members = int(input("Give the number of student members to generate: "))
num_of_prefessors_members = int(input("Give the number of professor members to generate: "))

ValueError: invalid literal for int() with base 10: ''

In [ ]:
import pandas as pd
import numpy as np

University_ID = 100_000

student_df = {
    "University_ID": [],
    "Enrollment_Year": []
}

professor_df = {
    "University_ID": [],
    "EmploymentStartDate": [],
    "Degree": []
}

faculty_member_df = {
    "University_ID": [],
    "First_Name": [],
    "Last_Name": [],
    "Email": [],
    "Publications_Count": []
}

for i in range(num_of_student_members):
    
    name = first_names[np.random.randint(0, len(first_names) - 1)]
    surname = surnames[np.random.randint(0, len(surnames) - 1)]
    id = University_ID
    enrollment_year = np.random.randint(2014, 2025)
    email = f"{name[0]}{surname[0]}s{id}@uni.edu.pl"
    pub_count = np.random.randint(0, 20)

    student_df["University_ID"].append(id)
    student_df["Enrollment_Year"].append(enrollment_year)

    faculty_member_df["University_ID"].append(id)
    faculty_member_df["First_Name"].append(name)
    faculty_member_df["Last_Name"].append(surname)
    faculty_member_df["Email"].append(email)
    faculty_member_df["Publications_Count"].append(pub_count)
    
    University_ID += 1

for i in range(num_of_prefessors_members):
    
    name = first_names[np.random.randint(0, len(first_names) - 1)]
    surname = surnames[np.random.randint(0, len(surnames) - 1)]
    id = University_ID
    employment_start_date = generate_random_date()
    email = f"pr{name[0]}{surname[0]}s{id}@uni.edu.pl"
    pub_count = np.random.randint(20, 50)
    Degree = np.random.choice(["Engineer", "Master", "Professor1", "Professor2"])

    professor_df["University_ID"].append(id)
    professor_df["EmploymentStartDate"].append(employment_start_date)
    professor_df["Degree"].append(Degree)

    faculty_member_df["University_ID"].append(id)
    faculty_member_df["First_Name"].append(name)
    faculty_member_df["Last_Name"].append(surname)
    faculty_member_df["Email"].append(email)
    faculty_member_df["Publications_Count"].append(pub_count)

    University_ID += 1

In [178]:
faculty_member_df.keys()

dict_keys(['University_ID', 'First_Name', 'Last_Name', 'Email', 'Publications_Count'])

In [179]:
Department_df = {
    "Department_ID": [],
    "Department_Name": [],
    "Location": []
}

student_department_df = {
    "Student_ID": [],
    "Department_ID": [],
}

professor_department_df = {
    "Professor_ID": [],
    "Department_ID": [],
}


for i in range(len(departments)):

    Department_df["Department_ID"].append(department_IDs[i])
    Department_df["Department_Name"].append(departments[i])
    Department_df["Location"].append(str(department_Locations[i][0]) + str(department_Locations[i][1]))
    
for i in range(len(student_df["University_ID"])):

    id = student_df["University_ID"][i]
    departments_temp = [None]

    random_num = np.random.randint(1, 100)
    faculties = 1
    if random_num <= 40:
        faculties = 2
    if random_num <= 5:
        faculties = 3

    for j in range(faculties):
        
        department_id = None
        while department_id in departments_temp:
            department_id = np.random.choice(Department_df["Department_ID"])
        departments_temp.append(department_id)

        student_department_df["Student_ID"].append(id)
        student_department_df["Department_ID"].append(department_id)

for i in range(len(professor_df["University_ID"])):

    id = professor_df["University_ID"][i]
    departments_temp = [None]
    for j in range(np.random.randint(1, 5)):
        
        department_id = None
        while department_id in departments_temp:
            department_id = np.random.choice(Department_df["Department_ID"])
        departments_temp.append(department_id)

        professor_department_df["Professor_ID"].append(id)
        professor_department_df["Department_ID"].append(department_id)

In [180]:
professor_department_df["Professor_ID"][:10]

[101000,
 101000,
 101001,
 101001,
 101001,
 101001,
 101002,
 101002,
 101002,
 101002]

In [181]:
professor_department_df["Department_ID"][:5]

[105, 120, 111, 124, 103]

In [182]:
specialization_df = {
    "ID": [],
    "Name": [],
    "Study_Field": []
}

specialization_faculty_member_df = {
    "Specialization_ID": [],
    "Member_ID": []
}


for i in range(len(specializations)):
    
    id = specializations_ID[i]
    name = specializations[i]
    study_field = study_fields[i]

    specialization_df["ID"].append(id)
    specialization_df["Name"].append(name)
    specialization_df["Study_Field"].append(study_field)

for i in range(len(faculty_member_df["University_ID"])):

    times = None
    if faculty_member_df["Email"][:2] == "pr":
        times = np.random.randint(2, 6)
    else:
        times = np.random.randint(1, 3)

    chosen_spec = [None]

    for j in range(times):

        id = faculty_member_df["University_ID"][i]
        spec_id = None
        while spec_id in chosen_spec:
            spec_id = np.random.choice(specializations_ID)
        chosen_spec.append(spec_id)

        specialization_faculty_member_df["Specialization_ID"].append(spec_id)
        specialization_faculty_member_df["Member_ID"].append(id)

In [183]:
len(study_fields), len(specializations)

(105, 105)

In [184]:
specialization_df["Name"][:5], specialization_df["Study_Field"][:5]

(['Artificial Intelligence',
  'Machine Learning',
  'Data Science',
  'Cybersecurity',
  'Cloud Computing'],
 ['Computer Science',
  'Computer Science',
  'Computer Science',
  'Computer Science',
  'Computer Science'])

In [185]:
specialization_faculty_member_df["Specialization_ID"][:5], specialization_faculty_member_df["Member_ID"][:5]

([91, 32, 42, 29, 86], [100000, 100000, 100001, 100001, 100002])

In [186]:
pd.DataFrame(faculty_member_df)

,University_ID,First_Name,Last_Name,Email,Publications_Count
0,100000,Brandon,Wright,BWs100000@uni.edu.pl,11
1,100001,Michael,Brooks,MBs100001@uni.edu.pl,6
2,100002,Claire,Graham,CGs100002@uni.edu.pl,12
3,100003,Daniel,Brown,DBs100003@uni.edu.pl,2
4,100004,Alexander,Phillips,APs100004@uni.edu.pl,10
...,...,...,...,...,...
1095,101095,Evan,Fisher,prEFs101095@uni.edu.pl,23
1096,101096,Grace,Nelson,prGNs101096@uni.edu.pl,21
1097,101097,Jason,Adams,prJAs101097@uni.edu.pl,40
1098,101098,Andrew,Turner,prATs101098@uni.edu.pl,27
1099,101099,Jacob,Perez,prJPs101099@uni.edu.pl,30

In [187]:
pd.DataFrame(specialization_faculty_member_df).head(10)

   Specialization_ID  Member_ID
0                 91     100000
1                 32     100000
2                 42     100001
3                 29     100001
4                 86     100002
5                102     100003
6                  5     100004
7                 82     100005
8                 47     100006
9                 34     100007

In [188]:
pd.DataFrame(specialization_df).head()

   ID                     Name       Study_Field
0   1  Artificial Intelligence  Computer Science
1   2         Machine Learning  Computer Science
2   3             Data Science  Computer Science
3   4            Cybersecurity  Computer Science
4   5          Cloud Computing  Computer Science

In [189]:
pd.DataFrame(specialization_df).to_csv("C:/Users/User/Desktop/specialization.csv", header=False, index=False)