# Data for SQL part

In [10]:
departments = [
    "Computer Science", "Mechanical Engineering", "Electrical Engineering", "Civil Engineering",
    "Mathematics", "Physics", "Chemistry", "Biology", "Business Administration",
    "Economics", "Psychology", "Sociology", "Political Science", "History",
    "Philosophy", "English Literature", "Linguistics", "Environmental Science",
    "Medicine", "Law", "Architecture", "Art  Design", "Music", "Theater Arts",
    "Education", "Nursing", "Astronomy", "Anthropology", "Statistics", "Robotics"
]

department_IDs = [
    101, 102, 103, 104, 105, 106, 107, 108, 109, 110,
    111, 112, 113, 114, 115, 116, 117, 118, 119, 120,
    121, 122, 123, 124, 125, 126, 127, 128, 129, 130
]

department_Locations = [
    (37.7749, -122.4194), (40.7128, -74.0060), (34.0522, -118.2437), (51.5074, -0.1278),
    (48.8566, 2.3522), (35.6895, 139.6917), (55.7558, 37.6173), (39.9042, 116.4074),
    (41.8781, -87.6298), (45.4642, 9.1900), (52.5200, 13.4050), (50.8503, 4.3517),
    (40.4168, -3.7038), (19.4326, -99.1332), (28.6139, 77.2090), (1.3521, 103.8198),
    (-33.8688, 151.2093), (-23.5505, -46.6333), (13.7563, 100.5018), (-34.6037, -58.3816),
    (31.2304, 121.4737), (37.5665, 126.9780), (25.276987, 55.296249), (59.3293, 18.0686),
    (55.9533, -3.1883), (60.1695, 24.9354), (52.2298, 21.0122), (41.9028, 12.4964),
    (35.6895, 139.6917), (32.7767, -96.7970)
]

first_names = [
    "Aaron", "Abigail", "Adam", "Aiden", "Alexander", "Alice", "Amelia", "Andrew", "Angelina", "Anthony",
    "Aria", "Asher", "Aubrey", "Aurora", "Austin", "Ava", "Benjamin", "Blake", "Brandon", "Brianna",
    "Caleb", "Cameron", "Caroline", "Carter", "Charles", "Charlotte", "Chloe", "Christopher", "Claire", "Connor",
    "Daniel", "David", "Delilah", "Dominic", "Dylan", "Eleanor", "Eli", "Elijah", "Elizabeth", "Ella",
    "Emily", "Emma", "Ethan", "Evan", "Ezekiel", "Ezra", "Felix", "Gabriel", "Genesis", "George",
    "Grace", "Grayson", "Hannah", "Harper", "Hazel", "Henry", "Hudson", "Hunter", "Ian", "Isaac",
    "Isabella", "Isla", "Jack", "Jackson", "Jacob", "James", "Jasmine", "Jason", "Jayden", "Jeremiah",
    "John", "Jonathan", "Jordan", "Joseph", "Joshua", "Julian", "Katherine", "Kayla", "Kennedy", "Kevin",
    "Landon", "Layla", "Leo", "Levi", "Liam", "Lillian", "Lily", "Lincoln", "Lucas", "Luke",
    "Madeline", "Madison", "Mason", "Matthew", "Maya", "Michael", "Mila", "Nathan", "Noah", "Nora"
]

surnames = [
    "Adams", "Allen", "Anderson", "Armstrong", "Bailey", "Baker", "Barnes", "Bell", "Bennett", "Brooks",
    "Brown", "Bryant", "Butler", "Campbell", "Carter", "Clark", "Collins", "Cook", "Cooper", "Cox",
    "Davis", "Diaz", "Edwards", "Evans", "Fisher", "Flores", "Foster", "Garcia", "Gonzalez", "Graham",
    "Green", "Hall", "Harris", "Harrison", "Hayes", "Henderson", "Hernandez", "Hill", "Howard", "Hughes",
    "Jackson", "James", "Jenkins", "Johnson", "Jones", "Kelly", "King", "Lee", "Lewis", "Long",
    "Lopez", "Martin", "Martinez", "Miller", "Mitchell", "Moore", "Morales", "Morgan", "Morris", "Murphy",
    "Nelson", "Nguyen", "Parker", "Patterson", "Perez", "Phillips", "Powell", "Price", "Ramirez", "Reed",
    "Richardson", "Rivera", "Roberts", "Robinson", "Rodriguez", "Rogers", "Ross", "Russell", "Sanchez", "Sanders",
    "Scott", "Simmons", "Smith", "Stewart", "Sullivan", "Taylor", "Thomas", "Thompson", "Torres", "Turner",
    "Walker", "Ward", "Washington", "Watson", "White", "Williams", "Wilson", "Wood", "Wright", "Young"
]

specializations = [
    "Artificial Intelligence", "Machine Learning", "Data Science", "Cybersecurity", "Cloud Computing",
    "Software Engineering", "Computer Networks", "HumanComputer Interaction", "Blockchain Technology", "Game Development",
    "Embedded Systems", "Internet of Things (IoT)", "Bioinformatics", "Quantum Computing", "Robotics",
    "Automotive Engineering", "Aeronautical Engineering", "Renewable Energy Engineering", "Nanotechnology", "Materials Science",
    "Structural Engineering", "Geotechnical Engineering", "Environmental Engineering", "Hydraulic Engineering", "Transportation Engineering",
    "Wireless Communication", "Microelectronics", "Power Systems Engineering", "Signal Processing", "Control Systems",
    "Theoretical Physics", "Nuclear Physics", "Astrophysics", "Biophysics", "Condensed Matter Physics",
    "Organic Chemistry", "Inorganic Chemistry", "Analytical Chemistry", "Physical Chemistry", "Pharmaceutical Chemistry",
    "Molecular Biology", "Genetics", "Biotechnology", "Neuroscience", "Microbiology",
    "Marine Biology", "Ecology", "Zoology", "Botany", "Bioengineering",
    "Finance", "Accounting", "Marketing", "International Business", "Entrepreneurship",
    "Human Resource Management", "Supply Chain Management", "Econometrics", "Behavioral Economics", "Game Theory",
    "Clinical Psychology", "Cognitive Psychology", "Educational Psychology", "Industrial Psychology", "Forensic Psychology",
    "Sociology of Technology", "Criminology", "Urban Sociology", "Cultural Anthropology", "Archaeology",
    "Political Philosophy", "Public Policy", "International Relations", "Comparative Politics", "Diplomacy",
    "Medieval History", "Modern History", "World History", "Military History", "History of Science",
    "Ethics", "Epistemology", "Metaphysics", "Logic", "Aesthetics",
    "Linguistics", "Syntax and Semantics", "Applied Linguistics", "Translation Studies", "Computational Linguistics",
    "Environmental Science", "Climatology", "Geospatial Science", "Sustainable Development", "Conservation Biology",
    "Theater and Performing Arts", "Music Composition", "Fine Arts", "Photography", "Creative Writing",
    "Education Policy", "Special Education", "Curriculum Development", "Instructional Design", "Educational Technology"
]

study_fields = [
    "Computer Science", "Computer Science", "Computer Science", "Computer Science", "Computer Science",
    "Computer Science", "Computer Science", "Computer Science", "Computer Science", "Computer Science",
    "Computer Science", "Computer Science", "Biotechnology", "Computer Science", "Robotics",
    "Mechanical Engineering", "Aeronautical Engineering", "Energy Engineering", "Nanotechnology", "Materials Science",
    "Civil Engineering", "Civil Engineering", "Environmental Engineering", "Civil Engineering", "Civil Engineering",
    "Electrical Engineering", "Electrical Engineering", "Electrical Engineering", "Electrical Engineering", "Electrical Engineering",
    "Physics", "Physics", "Physics", "Physics", "Physics",
    "Chemistry", "Chemistry", "Chemistry", "Chemistry", "Chemistry",
    "Biology", "Biology", "Biology", "Biology", "Biology",
    "Biology", "Biology", "Biology", "Biology", "Biomedical Engineering",
    "Business", "Business", "Business", "Business", "Business",
    "Business", "Business", "Economics", "Economics", "Economics",
    "Psychology", "Psychology", "Psychology", "Psychology", "Psychology",
    "Sociology", "Sociology", "Sociology", "Anthropology", "Anthropology",
    "Philosophy", "Political Science", "Political Science", "Political Science", "Political Science",
    "History", "History", "History", "History", "History",
    "Philosophy", "Philosophy", "Philosophy", "Philosophy", "Philosophy",
    "Linguistics", "Linguistics", "Linguistics", "Linguistics", "Linguistics",
    "Environmental Science", "Environmental Science", "Geography", "Environmental Science", "Environmental Science",
    "Fine Arts", "Music", "Fine Arts", "Fine Arts", "Fine Arts",
    "Education", "Education", "Education", "Education", "Education"
]

specializations_ID = range(1, len(specializations) + 1)

In [11]:
specializations_ID, len(specializations_ID)

(range(1, 106), 105)

In [12]:
from faker import Faker

def generate_random_date():
    fake = Faker()
    # year, month, day
    return fake.date_between(start_date='-30y', end_date='today')

generate_random_date()

datetime.date(2004, 11, 20)

In [13]:
num_of_student_members = int(input("Give the number of student members to generate: "))
num_of_prefessors_members = int(input("Give the number of professor members to generate: "))

In [14]:
import pandas as pd
import numpy as np

University_ID = 100_000

student_df = {
    "University_ID": [],
    "Enrollment_Year": []
}

professor_df = {
    "University_ID": [],
    "EmploymentStartDate": [],
    "Degree": []
}

faculty_member_df = {
    "University_ID": [],
    "First_Name": [],
    "Last_Name": [],
    "Email": [],
    "Publications_Count": []
}

for i in range(num_of_student_members):
    
    name = first_names[np.random.randint(0, len(first_names) - 1)]
    surname = surnames[np.random.randint(0, len(surnames) - 1)]
    id = University_ID
    enrollment_year = np.random.randint(2014, 2025)
    email = f"{name[0]}{surname[0]}s{id}@uni.edu.pl"
    pub_count = np.random.randint(0, 20)

    student_df["University_ID"].append(id)
    student_df["Enrollment_Year"].append(enrollment_year)

    faculty_member_df["University_ID"].append(id)
    faculty_member_df["First_Name"].append(name)
    faculty_member_df["Last_Name"].append(surname)
    faculty_member_df["Email"].append(email)
    faculty_member_df["Publications_Count"].append(pub_count)
    
    University_ID += 1

for i in range(num_of_prefessors_members):
    
    name = first_names[np.random.randint(0, len(first_names) - 1)]
    surname = surnames[np.random.randint(0, len(surnames) - 1)]
    id = University_ID
    employment_start_date = generate_random_date()
    email = f"pr{name[0]}{surname[0]}s{id}@uni.edu.pl"
    pub_count = np.random.randint(20, 50)
    Degree = np.random.choice(["Engineer", "Master", "Professor1", "Professor2"])

    professor_df["University_ID"].append(id)
    professor_df["EmploymentStartDate"].append(employment_start_date)
    professor_df["Degree"].append(Degree)

    faculty_member_df["University_ID"].append(id)
    faculty_member_df["First_Name"].append(name)
    faculty_member_df["Last_Name"].append(surname)
    faculty_member_df["Email"].append(email)
    faculty_member_df["Publications_Count"].append(pub_count)

    University_ID += 1

In [15]:
faculty_member_df.keys()

dict_keys(['University_ID', 'First_Name', 'Last_Name', 'Email', 'Publications_Count'])

In [16]:
Department_df = {
    "Department_ID": [],
    "Department_Name": [],
    "Location": []
}

student_department_df = {
    "Student_ID": [],
    "Department_ID": [],
}

professor_department_df = {
    "Professor_ID": [],
    "Department_ID": [],
}


for i in range(len(departments)):

    Department_df["Department_ID"].append(department_IDs[i])
    Department_df["Department_Name"].append(departments[i])
    Department_df["Location"].append(str(department_Locations[i][0]) + str(department_Locations[i][1]))
    
for i in range(len(student_df["University_ID"])):

    id = student_df["University_ID"][i]
    departments_temp = [None]

    random_num = np.random.randint(1, 100)
    faculties = 1
    if random_num <= 40:
        faculties = 2
    if random_num <= 5:
        faculties = 3

    for j in range(faculties):
        
        department_id = None
        while department_id in departments_temp:
            department_id = np.random.choice(Department_df["Department_ID"])
        departments_temp.append(department_id)

        student_department_df["Student_ID"].append(id)
        student_department_df["Department_ID"].append(department_id)

for i in range(len(professor_df["University_ID"])):

    id = professor_df["University_ID"][i]
    departments_temp = [None]
    for j in range(np.random.randint(1, 5)):
        
        department_id = None
        while department_id in departments_temp:
            department_id = np.random.choice(Department_df["Department_ID"])
        departments_temp.append(department_id)

        professor_department_df["Professor_ID"].append(id)
        professor_department_df["Department_ID"].append(department_id)

In [17]:
professor_department_df["Professor_ID"][:10]

[101000,
 101000,
 101000,
 101001,
 101001,
 101001,
 101002,
 101003,
 101003,
 101003]

In [18]:
professor_department_df["Department_ID"][:5]

[101, 111, 123, 108, 107]

In [19]:
specialization_df = {
    "ID": [],
    "Name": [],
    "Study_Field": []
}

specialization_faculty_member_df = {
    "Specialization_ID": [],
    "Member_ID": []
}


for i in range(len(specializations)):
    
    id = specializations_ID[i]
    name = specializations[i]
    study_field = study_fields[i]

    specialization_df["ID"].append(id)
    specialization_df["Name"].append(name)
    specialization_df["Study_Field"].append(study_field)

for i in range(len(faculty_member_df["University_ID"])):

    times = None
    if faculty_member_df["Email"][:2] == "pr":
        times = np.random.randint(2, 6)
    else:
        times = np.random.randint(1, 3)

    chosen_spec = [None]

    for j in range(times):

        id = faculty_member_df["University_ID"][i]
        spec_id = None
        while spec_id in chosen_spec:
            spec_id = np.random.choice(specializations_ID)
        chosen_spec.append(spec_id)

        specialization_faculty_member_df["Specialization_ID"].append(spec_id)
        specialization_faculty_member_df["Member_ID"].append(id)

In [20]:
len(study_fields), len(specializations)

(105, 105)

In [21]:
specialization_df["Name"][:5], specialization_df["Study_Field"][:5]

(['Artificial Intelligence',
  'Machine Learning',
  'Data Science',
  'Cybersecurity',
  'Cloud Computing'],
 ['Computer Science',
  'Computer Science',
  'Computer Science',
  'Computer Science',
  'Computer Science'])

In [22]:
specialization_faculty_member_df["Specialization_ID"][:5], specialization_faculty_member_df["Member_ID"][:5]

([47, 9, 55, 61, 8], [100000, 100000, 100001, 100002, 100003])

In [23]:
pd.DataFrame(faculty_member_df)

,University_ID,First_Name,Last_Name,Email,Publications_Count
0,100000,Jeremiah,Thompson,JTs100000@uni.edu.pl,0
1,100001,Aaron,Butler,ABs100001@uni.edu.pl,11
2,100002,Madison,Collins,MCs100002@uni.edu.pl,11
3,100003,Genesis,Brown,GBs100003@uni.edu.pl,11
4,100004,Abigail,Johnson,AJs100004@uni.edu.pl,9
...,...,...,...,...,...
1245,101245,Kevin,Watson,prKWs101245@uni.edu.pl,48
1246,101246,Chloe,Graham,prCGs101246@uni.edu.pl,49
1247,101247,Isabella,Cox,prICs101247@uni.edu.pl,32
1248,101248,John,Jones,prJJs101248@uni.edu.pl,41
1249,101249,Katherine,Thompson,prKTs101249@uni.edu.pl,36

In [24]:
pd.DataFrame(specialization_faculty_member_df).head(10)

   Specialization_ID  Member_ID
0                 47     100000
1                  9     100000
2                 55     100001
3                 61     100002
4                  8     100003
5                 18     100004
6                104     100005
7                 35     100006
8                 47     100006
9                 81     100007

In [25]:
pd.DataFrame(specialization_df).head()

   ID                     Name       Study_Field
0   1  Artificial Intelligence  Computer Science
1   2         Machine Learning  Computer Science
2   3             Data Science  Computer Science
3   4            Cybersecurity  Computer Science
4   5          Cloud Computing  Computer Science

In [26]:
dictionaries_to_csv = [
    specialization_faculty_member_df,
    specialization_df,
    Department_df,
    student_department_df,
    professor_department_df,
    student_df,
    professor_df,
    faculty_member_df
]

names = [
    "specialization_faculty_member",
    "specialization",
    "department",
    "student_department",
    "professor_department",
    "student",
    "professor",
    "faculty_member"
]

for i, dict in enumerate(dictionaries_to_csv):
    pd.DataFrame(dict).to_csv(f"../GeneratedCSV/{names[i]}.csv", header=False, index=False)

# Data for excel part

In [46]:
import random
import itertools

FIELDS = [
    "Cybersecurity", "Quantum Computing", "Healthcare AI", "Blockchain", "Aerospace Engineering",
    "Biomedical Engineering", "Renewable Energy", "Climate Science", "Artificial Intelligence", "Autonomous Systems",
    "Wearable Technology", "Pharmaceutical Research", "Clinical Psychology", "Finance", "Genetic Engineering",
    "Green Energy", "Smart Grid Systems", "Medical Imaging", "Social Media Studies", "Cryptography",
    "Environmental Science", "Robotic Surgery", "Organizational Psychology", "Agricultural Science", "Smart Cities",
    "Sustainable Materials", "Gene Therapy", "Music Therapy", "Personalized Medicine", "Ethics in AI",
    "Space Science", "Edge Computing", "Virtual Reality", "Water Purification", "Digital Journalism",
    "Astrophysics", "Drone Technology", "Genomics", "Educational AI", "Sustainable Architecture",
    "Neural Engineering", "Mental Health AI", "Urban Ecology", "Textile Technology", "Desalination",
    "Precision Agriculture", "Nanomedicine", "Computational Linguistics", "Space Exploration", "Economic Policy",
    "Microbiome Research", "Energy Storage", "Forensic Science", "Cryptocurrency", "Assistive Technology",
    "Adolescent Psychology", "Waste Management", "Gamification in Learning", "IoT Security", "Bioengineering",
    "Legal AI", "Marine Science", "Wireless Technology", "Sign Language Processing", "Remote Surgery",
    "PTSD Therapy", "Robotic Engineering", "Urban Transportation", "Telemedicine", "Smart Living",
    "Quantum Security", "Organ Regeneration", "Agricultural AI", "Nutritional Science", "Astrobiology",
    "AI in Surveillance", "Brain-Computer Interfaces", "Cyberbullying Prevention", "Labor Market Trends",
    "Electric Vehicles", "Cloud Computing", "Bioprinting", "Sleep Science", "Infectious Disease Research",
    "Education Technology", "Supply Chain Optimization", "Climate Migration", "Deepfake Detection",
    "5G Technology", "Sustainable Fashion", "Assistive Robotics", "Infrastructure Resilience", "Adaptive Learning",
    "Creative AI", "Biometric Security", "Neuroscience", "Customer Service AI"
]

ADJECTIVES = ["Next-Gen", "Efficient", "Scalable", "Advanced", "Innovative", "Sustainable", 
              "Autonomous", "Smart", "Optimized", "Adaptive", "Hybrid", "AI-powered", "Neural-based"]

NOUNS = ["Framework", "Model", "Algorithm", "Approach", "System", "Platform", "Methodology",
         "Architecture", "Protocol", "Network", "Infrastructure", "Pipeline"]

FOCUS_AREAS = ["Optimization", "Prediction", "Analysis", "Simulation", "Detection", "Enhancement", 
               "Generation", "Recognition", "Classification", "Automation", "Segmentation", "Forecasting"]

ALL_TITLES = list(itertools.product(ADJECTIVES, NOUNS, FOCUS_AREAS, FIELDS))
print(f"Length = {len(ALL_TITLES)}")
random.shuffle(ALL_TITLES)
TITLE_ITERATOR = iter(ALL_TITLES)

def generate_title():
    try:
        adj, noun, focus, field = next(TITLE_ITERATOR)
        # returns title, field
        return f"{adj} {noun} for {focus} in {field}", field
    except StopIteration:
        return None

Length = 181584

In [38]:
def generate_random_date_for_project(start, end):
    fake = Faker()
    # year, month, day
    return fake.date_between(start_date=f'-{start}y', end_date=f'-{end}y')

To generate **100_000** records we need approximately `5-6 minutes`.

In [49]:
research_project_df = {
    "Project_ID": [],
    "Title": [],
    # "Description": [], remove description
    "Start_Date": [],
    "End_Date": [],
    "Research_Area": [],
    "Status": []
}

number_of_research_projects = int(input("Give the number for research projects: "))
project_id = 1

for _ in range(number_of_research_projects):

    research_project_df["Project_ID"].append(project_id)

    title, field = generate_title()
    research_project_df["Title"].append(title)
    research_project_df["Research_Area"].append(field)

    project_status = random.choice(["Completed", "Ongoing"])
    start_date = end_date = None
    if project_status == "Completed":
        start_date = generate_random_date_for_project(15, 5)
        end_date = generate_random_date_for_project(4, 0)
    if project_status == "Ongoing":
        start_date = generate_random_date_for_project(10, 1)
        end_date = None

    research_project_df["Start_Date"].append(start_date)
    research_project_df["End_Date"].append(end_date)
    research_project_df["Status"].append(project_status)

    project_id += 1


research_project_df["Title"][:10]

['Innovative Infrastructure for Segmentation in Personalized Medicine',
 'Autonomous Approach for Prediction in AI in Surveillance',
 'Autonomous Model for Segmentation in Agricultural AI',
 'Neural-based Platform for Optimization in Smart Cities',
 'Scalable Protocol for Enhancement in Organ Regeneration',
 'Autonomous Algorithm for Prediction in Pharmaceutical Research',
 'Scalable Protocol for Simulation in Edge Computing',
 'Innovative Algorithm for Forecasting in Climate Science',
 'Innovative Methodology for Recognition in Adolescent Psychology',
 'Adaptive Architecture for Prediction in Space Science']

In [50]:
research_project_df["Start_Date"][:10]

[datetime.date(2014, 4, 9),
 datetime.date(2014, 8, 24),
 datetime.date(2018, 3, 25),
 datetime.date(2018, 4, 11),
 datetime.date(2011, 9, 15),
 datetime.date(2019, 6, 29),
 datetime.date(2023, 10, 9),
 datetime.date(2010, 12, 25),
 datetime.date(2015, 4, 24),
 datetime.date(2016, 4, 22)]

In [76]:
items = list(faculty_member_df.items())

students = []
professors = []

for i in range(num_of_student_members):
    students.append(faculty_member_df["University_ID"][i])

for i in range(num_of_student_members, num_of_student_members+num_of_prefessors_members):
    professors.append(faculty_member_df["University_ID"][i])

students = np.array(students)
professors = np.array(professors)
students[:10]

array([100000, 100001, 100002, 100003, 100004, 100005, 100006, 100007,
       100008, 100009])

In [77]:
random.shuffle(students)
random.shuffle(professors)
students[:10], professors[:10]

(array([100851, 100606, 100651, 100493, 100423, 100673, 100333, 100915,
        100829, 100250]),
 array([101167, 101145, 101150, 101014, 101199, 101143, 101077, 101223,
        101184, 101120]))

In [100]:
assignments = {
    "University_ID": [],
    "Project_ID": [],
    "Role": []
}
student_index = 0
professor_index = 0

# Iterate over each project
for project_id in research_project_df['Project_ID']:

    # Randomly determine number of students (5 to 50) and professors (1 to 3)
    num_students = random.randint(2, 20)
    num_professors = random.randint(1, 3)

    # Select students
    selected_students = students[student_index:student_index + num_students]
    student_index += len(selected_students)

    # Select professors
    selected_professors = professors[professor_index:professor_index + num_professors]
    professor_index += len(selected_professors)

    # Assign students to project
    for student_id in selected_students:
        # print(student_id)
        assignments["University_ID"].append(student_id)
        assignments["Project_ID"].append(project_id)
        assignments["Role"].append("Student")

    # Assign professors to project
    for professor_id in selected_professors:
        assignments["University_ID"].append(professor_id)
        assignments["Project_ID"].append(project_id)
        assignments["Role"].append("Professor")

    # Stop if we run out of students or professors
    if student_index >= len(students) or professor_index >= len(professors):
        break

# Convert assignments to DataFrame
participants_df = pd.DataFrame(assignments)

# Display sample
print(participants_df.head())

# Save to CSV if needed
participants_df.to_csv("../GeneratedCSV/participants.csv", index=False)

   University_ID  Project_ID     Role
0         100851           1  Student
1         100606           1  Student
2         100651           1  Student
3         100493           1  Student
4         100423           1  Student

In [101]:
print(participants_df.head(10))

   University_ID  Project_ID       Role
0         100851           1    Student
1         100606           1    Student
2         100651           1    Student
3         100493           1    Student
4         100423           1    Student
5         100673           1    Student
6         101167           1  Professor
7         100333           2    Student
8         100915           2    Student
9         100829           2    Student

In [104]:
maks = max(participants_df["Project_ID"])
maks

99

In [110]:
research_project_df_copy = {
    "Project_ID": [],
    "Title": [],
    "Start_Date": [],
    "End_Date": [],
    "Research_Area": [],
    "Status": []
}

for i in range(maks):

    if research_project_df["Project_ID"][i] > maks:
        break

    research_project_df_copy["Project_ID"].append(research_project_df["Project_ID"][i])
    research_project_df_copy["Title"].append(research_project_df["Title"][i])
    research_project_df_copy["Start_Date"].append(research_project_df["Start_Date"][i])
    research_project_df_copy["End_Date"].append(research_project_df["End_Date"][i])
    research_project_df_copy["Research_Area"].append(research_project_df["Research_Area"][i])
    research_project_df_copy["Status"].append(research_project_df["Status"][i])

pd.DataFrame(research_project_df_copy).to_csv("../GeneratedCSV/research_projects.csv", index=False)